# ===== Python =====
__pycache__/
*.pyc

# ===== Databases =====
*.db

# ===== Environment variables =====
.env

# ===== OS junk =====
.DS_Store
._*
Thumbs.db

# ===== Installers (do not commit) =====
*.msi
python-installer.exe
